<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>BuildableType</key>
	<string>Test</string>
	<key>DefaultCompletionName</key>
	<string>Test</string>
	<key>Description</key>
	<string>An Objective-C class implementing a unit test (using the UnitKit framework).</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of the unit test class to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Class</string>
			<key>NotPersisted</key>
			<string>Yes</string>
			<key>Required</key>
			<string>Yes</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>NSObject</string>
			<key>Description</key>
			<string>Unit test class that the new class will be a subclass of</string>
			<key>Identifier</key>
			<string>testSubclass</string>
			<key>Name</key>
			<string>Subclass of</string>
			<key>Required</key>
			<string>Yes</string>
			<key>Type</key>
			<string>class</string>
			<key>Values</key>
			<array/>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Summary</key>
	<string>An Objective-C class implementing a unit test</string>
</dict>
</plist>
